@import "../../sass/main.scss";

.examprep {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-primary;

  &__navbar_margin {
    padding-top: 6rem;
  }

  &__stepper {
    padding: 2rem;
    animation: moveInTop 0.4s;
  }

  &__steps {
    max-width: 800px;

    .slideleft {
      &-appear {
        opacity: 0;
        transform: translateX(50%);
      }
      &-appear-active {
        opacity: 1;
        transform: translateX(0%);
      }

      &-enter {
        opacity: 0;
        transform: translateX(50%);
      }
      &-enter-active {
        opacity: 1;
        transform: translateX(0%);
      }

      &-exit {
        opacity: 1;
        transform: scale(1);
      }
      &-exit-active {
        opacity: 0;
        transform: scale(0.75);
      }

      &-enter-active,
      &-appear-active,
      &-exit-active {
        transition: opacity 300ms, transform 300ms;
      }
    }

    .slideright {
      &-appear {
        opacity: 0;
        transform: translateX(-50%);
      }
      &-appear-active {
        opacity: 1;
        transform: translateX(0%);
      }

      &-enter {
        opacity: 0;
        transform: translateX(-50%);
      }
      &-enter-active {
        opacity: 1;
        transform: translateX(0%);
      }
      &-exit {
        opacity: 1;
        transform: scale(1);
      }
      &-exit-active {
        opacity: 0;
        transform: scale(0.75);
      }

      &-enter-active,
      &-appear-active,
      &-exit-active {
        transition: opacity 300ms, transform 300ms;
      }
    }

    &__header {
      padding: 1rem 0;

      > h1 {
        text-transform: uppercase;
        color: $color-primary;
        padding: 0;
        margin: 0;
      }
      > p {
        padding: 0;
        margin: 0;
      }
    }

    &__content {
      padding: 1rem;
    }
  }

  &__nav_buttons {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 8rem 0;
    animation: moveInBottom 0.4s;

    > Button {
      margin: 0 0.5rem;
    }
  }
}
