@import "../../sass/main.scss";

.examprep {
  display: grid;
  position: relative;
  justify-content: center;
  font-family: $font-primary;

  &__navbar_margin {
    padding-top: 6rem;
  }

  &__stepper {
    margin: 2rem;
    animation: moveInTop 0.6s;
  }

  &__header {
    margin: 2rem;
    animation: moveInRight 0.8s;

    > h1 {
      text-transform: uppercase;
      color: #0077b6;
      padding: 0;
      margin: 0;
    }
    > p {
      padding: 0;
      margin: 0;
    }
  }

  &__list_items {
    padding: 0;
    margin: 0;
    animation: moveInRight 1s;
  }

  &__nav_buttons {
    padding-bottom: 3rem;
    margin: 3rem;
    animation: moveInBottom 0.6s;
  }
}
