//* COLOR
$color-primary: #0077b6;
$color-secondary: #152c5b;
$color-black: #0b132a;
$color-yellow: #ffbf1a;
$color-green: #5cd6bd;
$color-light-blue-1: #29aaf3;
$color-light-blue-2: #86c7ed;
$color-white: #ffffff;
$color-light-grey: #b0b0b0;
// FONT VARIABLES
$font-primary: "Poppins", sans-serif;
$font-display: "Work Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
