@import "../../../sass/main.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 2rem 0;
  gap: 3rem;
  border-top: 1px solid $color-black;

  p {
    font-weight: 200;
    color: $color-light-grey;
  }
  h3 {
    color: $color-primary;
  }

  &__description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    &__left {
      display: flex;
      width: 50%;
      flex-direction: column;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      > h1 {
        color: $color-primary;
        > span {
          color: $color-secondary;
        }
      }
    }

    &__right {
      display: flex;
      width: 50%;
      justify-content: center;
      gap: 3rem;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      &__item {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
      }
    }
  }
}
